body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 70px;

}

.site-content {
    flex: 1;
}

.site-footer {
    background-color: #4CAF50;
    color: #ffffff;
    text-align: center;
    padding: 20px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}